/* create css variables */
:root {
    --text: #111827;
    --secondary-text: #6B7280;
    --background: #EDE9FE;
    --backfround-variant: #273549;
    --accent: #8B5CF6;
    --result: #A78BFA;

}

.darkmode {
    --text: #EDE9FE;
    --secondary-text: #D5D4D8;
    --background: #1F2937;
    --backfround-variant: #273549;
    --accent: #8B5CF6;
}

body {
    background: var(--background);

}

main {
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    span {
        color: var(--accent);
    }

    button {
        font-size: larger;
        font-weight: bold;
        margin: 30px 0;
        background: var(--accent);
        color: var(--background);
        padding: 10px 30px;
        border-radius: 10px;

    }

    h1 {
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 80px;
        line-height: 60px;
        margin-bottom: 0;
        color: var(--text);
    }

    p {
        color: var(--secondary-text);
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .results {
        display: flex;
    }

    .password {
        width: fit-content;
        height: 30px;
        background: var(--backfround-variant);
        color: var(--result);
        margin: 10px;
        padding: 10px 40px;
        border-radius: 10px;
    }

}