/* create css variables */
:root {
    --text: #1F2937;
    --secondary-text: #6B7280;
    --background: #EDE9FE;
    --backfround-variant: #273549;
    --accent: #8B5CF6;

}

.darkmode {
    --text: #EDE9FE;
    --secondary-text: #D5D4D8;
    --background: #1F2937;
    --backfround-variant: #273549;
    --accent: #8B5CF6;
}

body {
    background: var(--background);

}

main {
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    span {
        color: var(--accent);
    }

    button {
        background: var(--accent);
    }

    h1 {
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 80px;
        line-height: 60px;
        margin-bottom: 0;
    }

    p {
        font-weight: 400;
    }

}